################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOP_Lab1/.vs/OOP_Lab1/v15
